# =====================
# Python
# =====================
.venv/
__pycache__/
*.pyc

# =====================
# Environment variables (SECRETS)
# =====================
.env
.env.local
backend/.env
frontend/.env
frontend/.env.local

# =====================
# Node / Next.js
# =====================
node_modules/
.next/
out/

# =====================
# Logs
# =====================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =====================
# OS / Editor
# =====================
.DS_Store
.idea/

dataset/

